<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esercitazione Vue Todolist</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container" id="root">

        <div>
            <input type="text" v-model="newAlbum">
            <button>Aggiungi</button>
        </div>

        <div>
            <ul>
                <li v-for="album in albums" 
                    :class="album.done == true?'checked':'' ">
                    {{album.text}}
                </li>
            </ul>
        </div>

    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>