<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esercitazione Vue Todolist</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container" id="root">

        
        <h1>
            <i class="fa-solid fa-record-vinyl"></i>
            Lista degli album da ascoltare
            <i class="fa-solid fa-record-vinyl"></i>
        </h1>

        <div class="field">
            <input type="text" 
                placeholder="Inserire artista"
                v-model="newArtist"
                @keyup.enter="addAlbum">
            <input type="text"
                placeholder="Inserire album" 
                v-model="newAlbum"
                @keyup.enter="addAlbum">
            <button @click="addAlbum">Aggiungi</button>
        </div>

        <div class="list">
            <ul v-if="albums.length">
                <li v-for="(album, index) in albums" 
                    :class="album.done == true?'checked':'' ">
                    <span @click="doneNow(index)">
                        {{album.artist}} - {{album.text}}
                    </span>
                    <i class="fa-solid fa-xmark"
                        @click="cancel(index)">
                    </i>
                </li>
            </ul>
            <div class="empty" v-else>
                <span>Non ci sono album da ascoltare</span>
            </div>
        </div>

    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>